<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
   <link href="../css/heroic-features.css" rel="stylesheet">
<style>
 /*  body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
} */


</style>
</head>

<body>

  <!-- Navigation -->
  <div th:include="administrador/template_admin.html::header"></div>


<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Spring eCommerce <small>Productos</small>
    
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Crear Productos</li>
    
  </ol>

  <h2>Crear Producto</h2>
  <form class="form-horizontal" th:action="@{/productos/save}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" name="nombre"
        placeholder="Ingrese el nombre del producto" autocomplete="off" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="descripcion" name="descripcion"
        placeholder="Ingrese la descripcion del producto" required
        autocomplete="off"> </textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="cantidad">Cantidad:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="cantidad"
        name="cantidad" placeholder="Ingrese la cantidad del producto"
        required autocomplete="off">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="precio">Precio:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" step="any" id="precio" name="precio_unit"
        placeholder="Ingrese el precio del producto" autocomplete="off" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="img">Imagen:</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="img" name="img">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-saved"></span> Guardar
        </button>
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-saved"></span> Salir
        </button>
      </div>
    </div>
    
      
      
        
      
 
  </form>

</div>
<div th:if="${save !=null}" >
  <div th:replace="productos/infoaction.html::popup"></div>
  <!-- <input type="checkbox" name="" id="cerrar">
 
  <div class="modal">
    
  <div class="contenido">
    <label for="cerrar" id="btn-cerrar">X</label>
    <h2>Vista Nuestro Blog</h2>
    <div th:text="${save}"></div>
    <img src="https://picsum.photos/150/150" alt="">
  </div>
  </div> -->

 <!-- <input type="checkbox" name="" id="cerrar">
   <div class="modal">

    <div class="contenido">
      <div class="enc">
        <p><label for="cerrar" id="btn-cerrar">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill=" #48cae4" class="bi bi-x-square"
              viewBox="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </p>
      </div>

      <div class="corpo">
        <p>Se Guardo Correctamente!</p>
      </div>
      <div class="btn-close">
      </div>
    </div>

  </div> -->
</div> 
<!-- /.container -->

<!-- Footer -->
<div th:replace="administrador/template_admin.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
