<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:-250px;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#IrVentanaFlotante:target{
  opacity:1;
  pointer-events:auto;
}
/*.opcion{/*width: 100px;
        background-color:yellow;
border:1px solid black;}*/
    </style>
 <script>

 </script>   
    <title>Document</title>
</head>
<body>
    <div id="IrVentanaFlotante" class="modal">
        <div class="ventana">
          <a href="#" style='text-decoration:none;'>
          X
          </a>
          <h2>Ventana</h2>
          <p>Detalle de las opciones</p>
        </div>  
      </div>
</body>
</html>